* {
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

    html, body, #root {
    padding: 0;
    margin: 0px;
    height: 100%;
}
h1{
    color: white;
    font-size: 50px;
}
h2,p{
    color: white;
    font-size: 30px;
}