.new-form label,
.new-form input {
    display:block;
    text-align: left;
    font-size:1.2em;
    color:grey;
    background: rgb(242, 239, 239);
    
}

.contacthero {
    background-image: url(../images/Hong-kong-view.jpg);
    background-size: cover;
    width:100%;
    min-height: 80%;
    position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:  #030b63 solid 3px;
    margin:0px;
}
