footer{
    border-top: solid 3px rgb(19, 18, 18);
    padding: 20px 0px;
    background-color: #00204a;
    color:aliceblue;
    
}
.sectionHeading{
    color: white;
    font-size: 30px;
    text-align: center;
}
.info {
    text-align: center;
    font-size: 20px;
}