
/* Jumbotron  */
.hero {
    background-image: url(../images/Hong-kong-view.jpg);
    background-size: cover;
    width:100%;
    min-height: 80%;
    position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:  #030b63 solid 3px;
    margin:0px;
}


.hero .header-content {
    max-width: 500px;
  
    text-align: center;
    
  }
  
.header-content h1 p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jumboCopy button {
    background-color: transparent ;
    border-radius: 10px;
    border:white solid 1px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

  }
  .jumboCopy button:hover{
  background-color: #e9760b;
  border-color:#e9760b ;
  }
/* .personal-img {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right:300px;
    
    
}
.personal-img img{
    max-width: 400px;
    max-height: 450px;
    border-radius: 50%;
    display:flex;
    justify-items: end;
    align-items: end;
   
} */