.HomeBackground{
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(180deg,transparent 14%,rgba(0,0,0,.3) 49%,rgba(0,0,0,.3) 85%,transparent), url(../images/coding.jpg);
    background-size: cover;
    width:100%;
    min-height: 700px;
    align-items: center;
    justify-content: center;
}

.HomejumboCopy h1{
    color:white;
    text-align: center;


}
@media screen and (max-width: 600px) {
    .ProjectGallery {
        background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(180deg,transparent 14%,rgba(0,0,0,.3) 49%,rgba(0,0,0,.3) 85%,transparent), url(../images/coding.jpg);
        text-align: center;
        height:300px;
    }
}


