#Aboutme{
  background: #53a8b6; 
  width:100%; 
  text-align: center;
  padding:50px;
  border-bottom: #f3f2f5 solid 8px;
}

.Vickypic img{
  
  width:300px;
  height:400px;
  border-radius: 30px;
}
.Aboutmetext h3{
  color: white;
  font-size: 30px;
  text-align: left;
}

.Aboutmetext h4{
  color: white;
  font-size: 20px;
  text-align: left;
}

.Aboutmetext h4>a {
  background-color: #0b1ae9 ;
  border-radius: 10px;
  border:none;
  font-size: 30px;
  color: white;
  text-align: left;
  text-decoration: none;
  
}